.popup-box {
    position: fixed;
    background: #8f8d8d50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .box {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background-image: linear-gradient(to right bottom, #dfd9f3, #dbdef6, #d9e3f8, #d8e7f9, #d9ebf9, #deedfa, #e3eefa, #e7f0fb, #eef0fb, #f5f1fa, #f9f2f8, #fcf4f7);    border-radius: 4px;
    padding: 20px;
    border-radius: 1rem;
    overflow: auto;
  }
  
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(22% - 1px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
    font-weight:bold;
  }