body {
    background-image: url(./background.jpg);
    background-size: 100%;
}

:root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 30;
  --card_medium: 45;
  --card_large: 60;
}

.home-grid-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}

.card {
  padding: 0;
  margin: 1rem 1rem;
  border-radius: var(--card_border_radius);
  position: relative;
  text-align: center;
  color: white;
}

.card_small {
  grid-row-end: span var(--card_small);
}

.card_medium {
  grid-row-end: span var(--card_medium);
}

.card_large {
  grid-row-end: span var(--card_large);
}

.card-image {
  max-width:100%;
  height: 100%;
  object-fit:cover;
  border-radius: 1rem;
}

.card-image:hover {
  max-width:100%;
  height: 100%;
  object-fit:cover;
  border-radius: 1rem;
  filter: hue-rotate(30deg);
  filter: drop-shadow(16px 16px 20px rgb(164, 173, 228));
  opacity: 0.6;
  transform: scale(1.05);

}

.image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-family: 'Hina Mincho', serif;
}

.image-caption:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  font-size: 1.2rem;
  color: rgb(83, 82, 80);
  background-color: rgb(214, 213, 211);
  text-decoration: none;
  padding: 1rem;
}






  