
:root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 33;
  --card_medium: 48;
  --card_large: 60;
}

.filters {
  margin: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

.filter_icon {
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
}

.filter_keyword {
 color: rgb(65, 129, 167);
  padding: 0.5rem;
  font-size: 1.3rem;
  font-family: 'EB Garamond', serif;
  align-self: center;
  transition: all 0.5s ease-out;
}

.filter_keyword:hover {
  background-color: rgb(217, 229, 243);
  border-radius: 0.5rem;
  color: rgb(65, 129, 167);
  padding: 0.5rem;
  font-size: 1.3rem;
  font-family: 'EB Garamond', serif;
  align-self: center;
}

.all {
  background-color: rgb(225, 229, 233);
  border-radius: 0.5rem;
}

.home-grid-container {
  background-image: linear-gradient(to bottom, #f3f7fc, #d6e6f7, #cfe8fc, #e1dcf8, #ecdbfa, #eedfff, #bce4fe, #b5e1fe, #aedcfd, #bccdfd, #bbdcf8, #c3bffa);  margin: 0;
  padding: 0;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}

.card {
  padding: 0;
  margin: 1rem 1rem;
  border-radius: var(--card_border_radius);
  position: relative;
  text-align: center;
  color: white;
}

.card_small {
  grid-row-end: span var(--card_small);
}

.card_medium {
  grid-row-end: span var(--card_medium);
}

.card_large {
  grid-row-end: span var(--card_large);
}

.card-image {
  max-width:100%;
  height: 100%;
  object-fit:cover;
  border-radius: 1rem;
  transition: all 0.3s ease-out;
 
}

.card-image:hover {
  max-width:100%;
  height: 100%;
  object-fit:cover;
  border-radius: 1rem;
  filter: hue-rotate(30deg);
  filter: drop-shadow(16px 16px 20px rgb(164, 173, 228));
  opacity: 0.6;
  transform: scale(1.05);

}

.image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-family: 'Hina Mincho', serif;
  transition: all 0.3s ease-out;
}

.image-caption:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  font-size: 1.2rem;
  color: rgb(83, 82, 80);
  background-color: rgb(214, 213, 211);
  text-decoration: none;
  padding: 1rem;
}






  