@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
.post {
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 239, 239);
    border-radius: 1rem;
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0 0 1.6rem rgb(155, 159, 161));
}

.the_post_image {
  max-width:100%;
  height: 100%;
  object-fit:cover;
  border-radius: 1rem;
}

.post_info {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
}

.detail_top {
    margin: 2rem 2rem;
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-between;
}

.iconButton {
    width: 3rem;
    border-radius: 50%;
    opacity: 0.8;
}

.visit_source, .post_author_name {
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
}

.source_link {
    font-size: 1.2rem;
}

.post_author_info {
    display: flex;
    justify-content: left;
    margin: 2rem 2rem;
    margin-bottom: 2rem;
}

.account_profile {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

.follow {
    box-shadow: 0px 10px 14px -7px #dcecfb;
	background: linear-gradient(to bottom, #ece4d3 6%, #e08481 100%);
	background-color: #d8e9fa;
	border-radius: 0.5rem;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
    font-family: 'EB Garamond', serif;
	font-size: 1.3rem;
    text-align: center;
	text-decoration: none;
    border: none;
    text-shadow:0px 1px 0px #528ecc;
    width: 6rem;
    height: 2rem;
    margin-left: 3rem;
    align-self: center;
}

.follow:hover {
    background:linear-gradient(to bottom, #ecdec2 5%, #f06c6c 100%);
	background-color:#f0e4d2;
}

.follow:active {
	position:relative;
	top:1px;
}

.post_caption {
    margin: 0.7rem 2rem 2rem 2rem;
}

.post_time {
    color: rgb(150, 148, 148);
    margin: 0.7rem 1rem 2rem 1rem;
}

.post_comments {
    width: 80%;
    display: flex;
    margin: auto;
}

.ui.comments {
    margin: 1.5em 0;
    width: 1000px;
}

.ui.comments .comment .text {
    margin: .25em 0 .5em;
    font-size: 1em;
    word-wrap: break-word;
    color: rgba(0,0,0,.87);
    line-height: 1.3;
    width: 1000px;
}

.ui.dividing.header {
    padding-bottom: .21428571rem;
    border-bottom: 1px solid rgba(34,36,38,.15);
    width: 1020px;
}

.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
    display: block;
    margin: 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.ui.comments .reply.form textarea {
    font-size: 1em;
    height: 3rem;
    width: 600px;
}

.reply {
    color: rgb(150, 148, 148);
}

.reply:hover {
    color: rgb(45, 66, 163);
}

.add_reply {
    background: rgb(197, 200, 201) ;
    border-radius: 5px;
    margin: 0.5rem;
}
.slider {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
}

.similar_caption {
    margin-left: 7.6rem;
    color:rgb(78, 79, 80);
    font-weight: bold;
    font-size: 1.75rem;
    font-family: 'Nothing You Could Do', cursive;
    margin-left: 40%;
}

.similar_post {
  max-width:100%;
  height: 240px;
  object-fit:cover;
  border-radius: 1rem;
}



