@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    color: rgb(62, 62, 63);
}

.navbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-image: url(./banner5.png);
    background-repeat:no-repeat;
    font-family: 'EB Garamond', serif;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 10rem;
    align-self: center;
    display: flex;
    margin: auto;
}

.nav-item {
    text-align: center;
    font-size: 1.5rem;
    margin-right: 3.75rem;
    align-self: center;
}

.nav-item:hover {
    text-align: center;
    font-size: 1.5rem;
    margin-right: 3.75rem;
    align-self: center;
    filter: drop-shadow(0 0 1rem rgb(6, 107, 190) );
}

.logout {
    font-size: 1.25rem;
    font-family: 'EB Garamond', serif;
    color: rgb(65, 129, 167);
}

.nav-item:hover {
    text-decoration: none;
    transform: scale(1.2);
}

.home-search:hover {
    transform: scale(1);
}

.nav-link {
    text-decoration: none;
}

.create_icon {
    width: 2rem;
    height: 2rem;
    opacity: 0.85;
    filter:grayscale(80%);
}

.search_input {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: large;
    background: none;
}

.search_input:focus{
    outline: none;
    background: none;
}

.search_input:hover {
    outline: none;
    width: 10rem;
    height: 2.2rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid lightslategrey;
    background: none;
}

ul {
    list-style-type: none;
}

