@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

body {
  background-color: #edf8fd;
}

.login-body {
  background-image: url(../nav/logo\ midea.png);
  background-size: 40%;
  opacity: 0.85;
  background-position-x:80%;
  background-repeat: no-repeat;
  background-blend-mode:soft-light;
  height: 550px;
}

.container--login {
  margin: 10% 30% 20% 12%;
}

.login {
  color:cornflowerblue;
  font-family: 'EB Garamond', serif;
  font-weight:bold;
  font-size: 2rem;
  margin-left: 1rem;
}

.login_note {
  font-family: 'EB Garamond', serif;
  color:cornflowerblue;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.container--login {
  display: flex;
  flex-direction: column;
}

.label_text {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.form-control {
  height: 2.75rem;
  width: 15rem;
  font-size: 1rem;
  border: 2px solid rgb(200, 222, 241);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.sign-in {
  background-color: rgb(124, 165, 241);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 8rem;
}

fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none;
    min-inline-size: min-content;
}

.login_info {
  display: flex;
  flex-direction: column;
}
